.modal-backdrop{
background-color: hsla(49, 12%, 37%, 0.97);
}

:root{
  --succes-color: #2ecc71;;
  --error-color: #e74c3c;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .rating > input{ display:none;}
  
  .rating > label {
    /* position: relative; */
      width: 1em;
      font-size: 2vw;
      color: #FFD600;
      cursor: pointer;
  }
  .rating > label::before{ 
    content: "\2605";
    position: absolute;
    opacity: 0;
  }
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
    opacity: 1 !important;
  }
  
  .rating > input:checked ~ label:before{
    opacity:1;
  }

  .md-form input:focus{
    outline: 0;
    border-color: #777;

}

.md-form.success input {
    border-color: var(--succes-color);
}

.md-form.error input {
    border-color: var(--error-color);    
}
  .md-form small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    position: relative;
}

.md-form.error small{
    visibility: visible;
}
  .rating:hover > input:checked ~ label:before{ opacity: 0.4; }
  
  
   p{ 
      text-align: center;
      
  }
  p{ font-size: 1.2rem;}
  @media only screen and (max-width: 600px) {
    h1{font-size: 14px;}
    p{font-size: 12px;}
  }
  

  